.home{
    background-color: floralwhite;
}
.faqs{
background-color: limegreen;
  }

  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .banner {
    background-image: url("https://example.com/banner.jpg");
    background-size: cover;
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 24px;
  }
  
  .cta {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
  }
  
  .button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 40px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  footer ul {
    display: flex;
  }
  
  footer ul li {
    margin-right: 20px;
  }
  
  footer ul li:last-child {
    margin-right: 0;
  }
  
  footer a {
    color: #fff;
    font-size: 24px;
  }

  p{
    color: mediumpurple;
  }

  h1{
    color: coral;
  }

  li {
    text-align:left;
    
  }
  